<h1>QUESTION DU JOUR</h1>


<voter-component [parentQuestion]="question" 
                 [parentNoAnswer]="noAnswer" 
                 [parentYesAnswer]="yesAnswer"
                 (output)="receivedAnswer = $event"
                 > 

</voter-component>

<div id='photoContainer'> 
    <img id="photo"
        src="https://cdn.unitycms.io/images/5fVRZ9h64zyAGuB8LG-4Bw.jpg?op=ocroped&val=1200,1200,1000,1000,0,0&sum=jSIlAeXKOH4" />

</div>

<div id="lastVote">
    DERNIERE REPONSE : 
    <span [ngClass]="{'changeYes' : receivedAnswer, 'changeNo' : !receivedAnswer}" > 
        {{receivedAnswer ? yesAnswer : noAnswer }} 
    </span>
</div>
